{% extends "layout.html" %}
{% block content %}
<div class="col col-xs-12 col-sm-9">
	<section class="row" id="website_templates">				
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h3>Add Item</h3>
			</div>
        </div>
        <form method="POST">
            Title:<br>
            <input type="text" name="title">
            <br>
            Description:<br>
            <input type="text" name="description">
            <br>
            Category:<br>
            <select name="categorylist">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form> 
	</section>
</div>
{% endblock %}
