{% extends "layout.html" %}
{% block content %}
<div class="col col-xs-12 col-sm-9">
	<section class="row" id="website_templates" style="padding-left: 30px">				
		<div class="row">
            <h3>Delete Item</h3>
        </div>
        <form method="POST" class="delete-form">
            <p>
                Are you sure you want to delete?
            </p>
            <input type="hidden" name="title" value="{{item.name}}">
            <input type="submit" value="Submit">
        </form> 
	</section>
</div>
{% endblock %}
{% block navbar %}
{% endblock navbar %}