{% extends "layout.html" %}
{% block content %}
<div class="col col-xs-12 col-sm-9">
	<section class="row" id="website_templates" style="padding-left: 30px">				
		<div class="row">
            <h3>Edit Category</h3>
        </div>
        <form method="POST">
            Name:<br>
            <input type="text" name="title" value="{{category_name}}">
            <br><br>
            <input type="submit" value="Submit">
        </form> 
	</section>
</div>
{% endblock %}
{% block navbar %}
{% endblock navbar %}
