{% extends "layout.html" %}
{% block content %}
<div class="col col-xs-12 col-sm-9">
	<section class="row" id="website_templates">				
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h3>Edit Item</h3>
			</div>
        </div>
        <form method="POST">
            Title:<br>
            <input type="text" name="title" value="{{item.name}}">
            <br>
            Description:<br>
            <input type="text" name="description" value="{{item.description}}">
            <br>
            Category:<br>
            <select name="categorylist">
                {% for category in categories %}
                <option value="{{category.name}}">{{category.name}}</option>
                {% endfor %}
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form> 
	</section>
</div>
{% endblock %}
