{% extends "layout.html" %}
{% block content %}
<div class="col col-xs-12 col-sm-9">
	<section class="row" id="website_templates">				
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h3>{{ category_name }}</h3>
			</div>
		</div>
		{% if item %}
			<p style="padding-left: 20px">Description: {{ item.description }}</p>
        {% endif %}
		{% if is_editable_item %}
			<p style="padding-left: 20px"><a href="{{ url_for('edit_item', item_name=item.name) }}">Edit</a> | <a href="{{ url_for('delete_item', item_name=item.name) }}">Delete</a></p>
        {% endif %}
	</section>
</div>
{% endblock %}
{% block navbar %}
{% endblock %}
