{% extends "layout.html" %}
{% block content %}
<div class="col col-xs-12 col-sm-9">
	<section class="row" id="website_templates">				
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h3>{{category.name}} Items ({{num_of_items}} items)</h3>
			</div>
		</div>
			<div class="col-xs-12 col-md-12" style="padding-left: 20px">
				{% for item in items %}
					<div><a class="item" href="{{ url_for('show_category_individual_item', category_name=item.category.name, item_name=item.name)}}">
						{{item.name}}
					</a></div>		          
				{% endfor %}
				</div>
	</section>
</div>
{% endblock %}
